@import url(https://fonts.googleapis.com/css?family=Raleway);
h1,
h2 {
  font-family: "Raleway", sans-serif;
}
.container {
  margin: auto;
  max-width: 1500px;
  min-width: 600px;
}
header {
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}
header h1 a:hover {
  text-decoration: underline;
}
#logo {
  padding: 10px;
}
nav li a:hover {
  color: #7e8aa2;
}
nav ul {
  padding: 10px;
  flex-direction: row;
  gap:10px;
}
nav ul li {
  border: none;
  text-align: center;
  border-left: 1px solid #7e8aa2;
}
nav li:first-child {
  border-left: none;
}

main {
  display: flex;
  gap:10px;
}
.section {
  flex: 1 1 auto;
  padding: 0 10px 10px 0;
}
.resize-img {
  width: 500px;
}
.sidebar {
  flex: 0 1 200px;
  padding: 20px 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 70px;
}
.left-float {
  float: left;
  padding: 0 15px 15px 0;
}

/* Form Styling Needs Adding */
